def get_secrets()
	secrets = Hash.new()

	secrets = {
		:enom => {
			# No user, domain name is used instead.
			:pw   => '',
		},
		:he => {
			:user => 'username',
			:pw   => 'password',
			:tid  => 'tunnel id',
		},
		:iwmn => {
			:user => '',
			:pw   => '',
		},
		:snmp => {
			:ps   => 'public',
		},
	}

	return secrets
end
